body {
    background-color: aqua;
}

@media (max-width: 576px) {
    body {
        background-color:burlywood;
    }
    .lorem{
        color: darkorchid;
    }
}

@media (min-width: 768px) {
    body {
        background-color:chartreuse;
    }
}

@media (min-width: 992px) {
    body {
        background-color:coral;
    }
}

@media (min-width: 1200px) {
    body {
        background-color:crimson;
    }
}

@media (min-width: 1400px) {
    body {
        background-color:darkorchid;
    }
}

